<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
>
    <php>
        <env name="APP_KEY" value="nutfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <env name="DB_CONNECTION" value="sqlite_inmemory"/>
        <env name="DB_MYSQL_HOST" value="127.0.0.1"/>
        <env name="DB_MYSQL_PORT" value="3306"/>
        <env name="DB_MYSQL_DATABASE" value=""/>
        <env name="DB_MYSQL_USERNAME" value=""/>
        <env name="DB_MYSQL_PASSWORD" value=""/>
        <env name="DB_PGSQL_HOST" value="127.0.0.1"/>
        <env name="DB_PGSQL_PORT" value="5432"/>
        <env name="DB_PGSQL_DATABASE" value=""/>
        <env name="DB_PGSQL_USERNAME" value=""/>
        <env name="DB_PGSQL_PASSWORD" value=""/>
        <env name="DB_SQLSRV_HOST" value="127.0.0.1"/>
        <env name="DB_SQLSRV_PORT" value="1433"/>
        <env name="DB_SQLSRV_DATABASE" value=""/>
        <env name="DB_SQLSRV_USERNAME" value=""/>
        <env name="DB_SQLSRV_PASSWORD" value=""/>
    </php>
    <testsuites>
        <testsuite name="Test">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
